/target

test/test_data/*

.log/*

# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Poetry
.poetry/

# Virtual environments
venv/
.env/
env/
*.venv

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Testing
.pytest_cache/
.tox/
.coverage
*.cover
coverage.xml
.cache/
.nox/
.hypothesis/
htmlcov/

# Build files
build/
dist/
*.egg-info/
.eggs/

# Sphinx documentation
docs/_build/

# Logs and debug files
*.log
*.trace

# Editor-specific
# Visual Studio Code
.vscode/
*.code-workspace

# PyCharm
.idea/
*.iml

# Emacs
*~
*.swp
.*.swp
.*.swo

# Sublime Text
*.sublime-project
*.sublime-workspace

# IntelliJ IDEA
.idea/

# Eclipse
.project
.cproject
.settings/
.idea/

# Python-specific packaging
*.egg
*.manifest
*.spec
.Python
pylint.log
mypy_cache/
dmypy.json
.pyre/

# Dependencies
poetry.lock
pip-log.txt
pip-delete-this-directory.txt

# Jupyter Notebook temporary files
.ipynb_checkpoints/
*.ipynb

